body{
    background-color: pink;
    font-family: "comic sans MS", cursive, sans-serif;
    
}
hr{
    border-style:dotted;
    color: black;
    width: 5%;
    height: 0px;
}
h3{
   
    color:darkorange;
}
.change{
    position: relative right 30;
}
div{
    position: relative;
    left: 1200px;
}
.abc{
    position: relative;
    left: 0px;
}

.cde{
    color: indigo;
    width: 10%;
}
.def{
    color:olive;
    position: relative;
    left: 450px;
    bottom: 250px;
    width: 70%;
   

}
.efg{
    color: olive;
    width:60%;
    position: relative;
    bottom: 250px;
    left:20px;


}
.fgh{
    width: 30%;
    position: relative;
    left: 680px;
   padding: 20px;
}
.ghi{
    width: 30%;
    color: darkred;
    position: relative;
    left: 800px;
}
.hij{
    width:35%;
    color:tomato ;
    position: relative;
    bottom: 500px;
    padding: 20px;
}
.ijk{
    width:30%;
    color:tomato ;
    position: relative;
    left: 1320px;
    bottom: 650px;
}
.jkl{
    width:40%;
    position: relative;
    left: 800px;
    bottom: 250px;
}
.klm{
    width: 40%;
    color: darkred;
    position: relative;
    left: 800px;
}
.h1{
    
    color: darkorange;
   
}
.xyz{
    width:50%;
    position: relative;
    left: 400px;
    bottom: 300px;
}
.pqr{width:28%;
    position: relative;
    left: 1px;
    bottom: 200px;
    text-align: left;
    
}
.qrs{
    width:30%;
    position: relative;
    left: 1320px;
    bottom: 275px;
}
.rst{
    width:20%;
    color: darkmagenta;
    font-size: 100px;
    position: relative;
    left: 400px; ;
}
.stu{
    width:30%;
    color: darkmagenta;
    font-size: 100px;
    position: relative;
    left: 1300px;

}
.stq{
    position: relative;
    left: 750px;
}
.tqr{
    width:10%;
    position: relative;
    left: 200px;
    font-size: 60px;
}
